<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php">
    <php>
        <var name="DB_DRIVER" value="mysql" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWORD" value="password" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_DATABASE" value="book" />
    </php>
</phpunit>